html{
	overflow-x: hidden;
}

header{
	font-family: 'Poppins', sans-serif;
	color: #FFF;
}

#menu-header{
	height: 100px;
	background: #ff0000;
	color: #FFF;
}


#header-up{

	background: #c10202;
	padding-top: 10px;
	font-size: 0.9em;
	height: 40px;
	padding-right: 165px;

}

.cor-txt-menu-header{
	color: #f4bf77;
}
.cor-icon-search{
	color: #ff0000;
}

.h1, h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

.nav-link{
	font-size: 0.9em;
}



/* slider */
.container-floud{
	padding: 0;
}

#carousel-home .carousel-inner, #carousel-home .carousel-item{
	height: 450px;
}

.carousel-caption{
	left: 58%;
	bottom: 15%;
	width: 400px;
	text-align: right;
}

.btn-cor{
	font-weight: bold;
	background: #ffdd8a;
	color: #000;
}


.carousel-control-next, .carousel-control-prev {
	width: 5%;
}


/* Responsividade */

@media (max-width: 575.98px) { ... }

@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) {

}



/*
	- Os banners devem ser rotativos.
	- As fontes utilizadas no projeto foram:
    Menu: Georgia Regular
    Títulos, Destaque e Rodapé: Roboto Thin
    Botões: PT Sans Narrow Bold
    Valor do produto: Open Sans Bold
*/