html{
	margin: 0;
	overflow-x: hidden;
	max-width: 1350px;
}

/* cabecalio  */

#cabecalio{
	font-family: 'Roboto', sans-serif;
	max-height: 140px;
	background: #ff0000;
}

#cima-cabecalio{
	padding-top: 0.7%;
	padding-right: 165px;
	text-align: right;
	font-weight: bold;
	font-size: 0.85em;
	color: #FFF;
	background: #c10202;
	height: 40px;
}

.cor-dos-dados{
	color: #f4bf77;
}

/* cabecalio baixo */

#baixo-cabecalio{
	color: #FFF;
	height: 100px;
}

#nav-principal{
	text-align: right;
}

li, #nav-principal {
    padding-right: 20px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.2rem 0.4rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    font-weight: bold;
    font-size: 0.9em;
}

.fonte-logo{
	color: #FFF;
	font-weight: bolder;
    font-size: 2.2em;
    padding-left: 30px;
}

.navbar-light .navbar-toggler {
	padding-right: 50px;
    color: rgba(0,0,0,.55);
    border: none;
}


/* banner  */
#banner{
	height: 450px;
	
}

/* botoes  */
#botoes{
	height: 180px;
	
}

/* produtos  */
#produtos{
	height: 720px;
	
}

/* whats  */
#whats{
	background: #FFF;
	height: 380px;
	
}
#whats-btn{
	background: #67bb34;
	color: #FFF;
	font-weight: bolder;
}

/* cadastro  */
#cadastro{
	background-image: url(../img/form.png);
	background-repeat: no-repeat;
	background-size: 1400px 530px;
	height: 530px;
	color: #FFF;	
}




/* rodape  */
#rodape{
	font-family: 'Roboto', sans-serif;
	max-height: 400px;

}

#cima-rodape{
	height: 355px;
	background: #231f20;
	color: #FFF;
    padding-left: 165px;
    padding-top: 80px;
    font-size: 0.85em;
}

.fonte-logo-rodape{
    font-size: 2.5em;
    padding-bottom: 20px;
    font-weight: bolder;
    color: #FFF;
}

li, #nav-principal {
    padding-right: 20px;
    padding-bottom: 10px;
}
.nav-link {
	padding-bottom: 0;
	color: #b6b5b5;
}	

.h5, h5 {
    font-size: 1.2rem;
    font-weight: bolder;
}

#redes .fa-brands{

	color: #f92525;
}
.row {
	--bs-gutter-x: 0rem;
}



/* rodape baixo */

#baixo-rodape{
	color: #8d8d8e;
	background: #100e0f;
	height: 45px;
	text-align: center;
	font-size: 0.65em;
}

#img-logo-rodape{
	height: 20px;
}

.diminuir-letra-nome{
	font-size: 0.6em;
}




/* Responsividade */ 

@media (max-width: 575.98px) {

	#cima-cabecalio{
		padding-top: 0.7%;
		padding-right: 0px;
		font-size: 0.6em;
	}

	.nav-link {
	padding: 0rem 0rem;
	color: #b6b5b5;
	}	
	/* cabecalio baixo */
	.fonte-logo{
	    font-size: 2.2em;
	    padding-left: 80px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	/* cabecalio cima */
	#cima-cabecalio{
		padding-top: 0.7%;
		padding-right: 1px;
		font-size: 0.55em;
	}	
	.nav-link {
	padding: 0rem 0rem;
	color: #b6b5b5;
	}	
	#cima-rodape{
	    padding-left: 65px;
	    padding-top: 50px;
	    font-size: 0.75em;
	}

	/* cabecalio baixo */
	.fonte-logo{
	    font-size: 2.2em;
	    padding-left: 80px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	/* cabecalio cima */
	#cima-cabecalio{
		padding-top: 0.7%;
		padding-right: 40px;
		font-size: 0.8em;
	}	
	
	#cima-rodape{
	    padding-left: 65px;
	    padding-top: 50px;
	    font-size: 0.75em;
	}

	/* cabecalio baixo */
	.navbar-light .navbar-nav .nav-link {
	    font-size: 0.75em;
	    margin-right: -3px;
	}

	.btn-group-sm>.btn, .btn-sm {
    padding: 0.2rem 0.4rem;
    margin-right: -50px;
    font-size: .7rem;
    border-radius: 0.2rem;
	}

	.fonte-logo{
	    font-size: 1.7em;
	    margin-left: -5px;
	    padding-left: 0px;
	}

	li, #nav-principal {
 	   padding-right: 0px;
	}

}

@media (min-width: 992px) and (max-width: 1199.98px) {
	/* cabecalio cima */
	#cima-cabecalio{
		padding-top: 0.7%;
		padding-right: 100px;
		font-size: 0.8em;
	}
	#cima-rodape{
	    padding-left: 65px;
	    padding-top: 50px;
	    font-size: 0.75em;
	}

	/* cabecalio baixo */
	.navbar-light .navbar-nav .nav-link {
	    font-size: 0.8em;
	}

	.fonte-logo{
	    font-size: 2em;
	    padding-left: 10px;
	}

	li, #nav-principal {
 	   padding-right: 15px;
	}

}